In [1]:
import pandas as pd

In [2]:
props_2017 = pd.read_csv('/../../../Data/properati-AR-2017-08-01-properties-sell-six_months.csv')
props_2017.drop(['id','operation','place_with_parent_names','created_on','lat-lon','country_name','geonames_id','title','operation','image_thumbnail','properati_url','description'], axis = 1, inplace = True)

In [3]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2017_filtered = props_2017.loc[(props_2017['price'].notnull()) & (props_2017['price_aprox_usd'].notnull()) & \
               (props_2017['price_aprox_local_currency'].notnull()) & (props_2017['surface_total_in_m2'].notnull()) & (props_2017['surface_covered_in_m2'].notnull())]

#Rows que tengan valores de precios erroneos
props_2017_filtered = props_2017_filtered.loc[(props_2017_filtered['price'] > 0) \
        & (props_2017_filtered['price_aprox_local_currency'] > 0 ) \
        & (props_2017_filtered['price_aprox_usd'] > 0) \
        & (props_2017_filtered['surface_covered_in_m2'] > 5)                                    
        & (props_2017_filtered['surface_total_in_m2'] > 5)]
props_2017_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,37018.000000,37018.000000,6.328900e+04,6.328900e+04,6.328900e+04,63289.000000,63289.000000,63289.000000,63289.000000,3032.000000,23644.000000,1.025500e+04
mean,-34.794468,-58.842419,4.759423e+05,4.477949e+06,2.537873e+05,222.224715,125.495900,2192.646805,6450.067254,4.285950,2.845669,5.440441e+03
std,1.610453,1.710791,9.531452e+05,6.051897e+06,3.429906e+05,1632.923511,415.026688,2847.374423,13397.599322,4.713679,1.463739,1.408444e+05
min,-54.806598,-71.663515,5.500000e+03,8.234017e+04,4.666620e+03,10.000000,6.000000,0.600000,1.510204,1.000000,1.000000,1.000000e+00
25%,-34.641642,-58.632057,1.150000e+05,1.676228e+06,9.500000e+04,50.000000,45.000000,1225.806452,1604.938272,2.000000,2.000000,1.000000e+03
50%,-34.597602,-58.460108,1.950000e+05,2.734898e+06,1.550000e+05,84.000000,71.000000,1818.181818,2304.347826,3.000000,3.000000,2.000000e+03
75%,-34.525511,-58.396024,4.300000e+05,5.116905e+06,2.900000e+05,200.000000,150.000000,2500.000000,3414.634146,6.000000,4.000000,4.000000e+03
max,-24.166966,-54.556127,5.000000e+07,2.117340e+08,1.200000e+07,200000.000000,49000.000000,206333.333333,480351.100000,133.000000,32.000000,1.000150e+07

In [4]:
#Genero el csv filtrado
props_2017_filtered.to_csv('props_2017_train.csv',index=False)

In [5]:
props_2016_01 = pd.read_csv('/../../../Data/2016/properati-AR-2016-01-01-properties-sell.csv')
props_2016_02 = pd.read_csv('/../../../Data/2016/properati-AR-2016-02-01-properties-sell.csv')
props_2016_03 = pd.read_csv('/../../../Data/2016/properati-AR-2016-03-01-properties-sell.csv')
props_2016_04 = pd.read_csv('/../../../Data/2016/properati-AR-2016-04-01-properties-sell.csv')
props_2016_05 = pd.read_csv('/../../../Data/2016/properati-AR-2016-05-01-properties-sell.csv')
props_2016_06 = pd.read_csv('/../../../Data/2016/properati-AR-2016-06-01-properties-sell.csv')
props_2016_07 = pd.read_csv('/../../../Data/2016/properati-AR-2016-07-01-properties-sell.csv')
props_2016_08 = pd.read_csv('/../../../Data/2016/properati-AR-2016-08-01-properties-sell.csv')
props_2016_09 = pd.read_csv('/../../../Data/2016/properati-AR-2016-09-01-properties-sell.csv')
props_2016_10 = pd.read_csv('/../../../Data/2016/properati-AR-2016-10-01-properties-sell.csv')
props_2016_11 = pd.read_csv('/../../../Data/2016/properati-AR-2016-11-01-properties-sell.csv')
props_2016_12 = pd.read_csv('/../../../Data/2016/properati-AR-2016-12-01-properties-sell.csv')
props_2016 = pd.concat([props_2016_01,props_2016_02,props_2016_03,props_2016_04,props_2016_05,props_2016_06,props_2016_07,props_2016_08,props_2016_09,props_2016_10,props_2016_11,props_2016_12])
props_2016.drop(['id','operation','place_with_parent_names','created_on','country_name','geonames_id','lat-lon','title','operation','image_thumbnail','properati_url','description'], axis = 1, inplace = True)

In [6]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2016_filtered = props_2016.loc[(props_2016['price'].notnull()) & (props_2016['price_aprox_usd'].notnull()) & \
               (props_2016['price_aprox_local_currency'].notnull()) & (props_2016['surface_total_in_m2'].notnull()) & (props_2016['surface_covered_in_m2'].notnull())]

props_2016_filtered = props_2016_filtered.loc[(props_2016_filtered['price'] > 0) \
        & (props_2016_filtered['price_aprox_local_currency'] > 0 ) \
        & (props_2016_filtered['price_aprox_usd'] > 0) \
        & (props_2016_filtered['surface_covered_in_m2'] > 5)                                    
        & (props_2016_filtered['surface_total_in_m2'] > 5)]

props_2016_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,188518.000000,188518.000000,2.458030e+05,2.458030e+05,2.458030e+05,245803.000000,245803.000000,2.458030e+05,2.458030e+05,29228.000000,145190.000000,3.895700e+04
mean,-34.822448,-58.842038,3.662307e+05,3.974342e+06,2.488864e+05,289.981615,140.682514,1.696193e+03,3.898202e+03,4.393869,3.113176,3.182715e+03
std,2.249884,2.138429,8.938214e+05,6.251245e+06,3.914735e+05,1666.131380,967.754502,6.927808e+03,9.517185e+03,9.286725,1.542275,1.886418e+04
min,-54.805115,-122.419415,5.000000e+03,4.843214e+04,3.032980e+03,10.000000,6.000000,7.772599e-02,1.171170e+00,1.000000,1.000000,1.000000e+00
25%,-34.657024,-58.621008,1.050000e+05,1.477086e+06,9.250000e+04,55.000000,50.000000,8.888889e+02,1.416667e+03,2.000000,2.000000,9.000000e+02
50%,-34.600731,-58.479259,1.800000e+05,2.475118e+06,1.550000e+05,109.000000,87.000000,1.538462e+03,1.931818e+03,3.000000,3.000000,1.700000e+03
75%,-34.510119,-58.396870,3.600000e+05,4.551022e+06,2.850000e+05,269.000000,179.000000,2.138060e+03,2.734375e+03,6.000000,4.000000,3.500000e+03
max,52.619706,5.011710,1.234568e+08,7.984250e+08,5.000000e+07,199999.000000,200000.000000,1.271027e+06,1.016822e+06,480.000000,32.000000,1.111111e+06

In [7]:
#Genero el csv filtrado
props_2016_filtered.to_csv('props_2016_train.csv',index=False)

In [8]:
props_2015_1 = pd.read_csv('/../../../Data/properati-AR-2015-06-01-properties-sell-six_months.csv')
props_2015_2 = pd.read_csv('/../../../Data/properati-AR-2015-12-01-properties-sell-six_months.csv')
props_2015 = pd.concat([props_2015_1,props_2015_2])
props_2015.drop_duplicates()
props_2015.drop(['id','operation','place_with_parent_names','created_on','country_name','geonames_id','lat-lon','title','operation','image_thumbnail','properati_url','description'], axis = 1, inplace = True)

In [9]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2015_filtered = props_2015.loc[(props_2015['price'].notnull()) & (props_2015['price_aprox_usd'].notnull()) & \
               (props_2015['price_aprox_local_currency'].notnull()) & (props_2015['surface_total_in_m2'].notnull()) & (props_2015['surface_covered_in_m2'].notnull())]
props_2015_filtered.describe()
props_2015_filtered = props_2015_filtered.loc[(props_2015_filtered['price'] > 0) \
        & (props_2015_filtered['price_aprox_local_currency'] > 0 ) \
        & (props_2015_filtered['price_aprox_usd'] > 0) \
        & (props_2015_filtered['surface_covered_in_m2'] > 5)                                    
        & (props_2015_filtered['surface_total_in_m2'] > 5)]
props_2015_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,24939.000000,24939.000000,3.649300e+04,3.649300e+04,3.649300e+04,36493.00000,36493.000000,36493.000000,36493.000000,6504.000000,18068.000000,3.852000e+03
mean,-34.783847,-58.641655,3.589961e+05,4.492411e+06,2.608384e+05,381.12005,155.123147,1531.076904,3820.479790,5.424662,3.120379,4.025345e+03
std,2.546361,2.123681,5.747864e+05,6.864196e+06,3.981473e+05,2097.20544,1081.866715,2860.187282,8810.115093,28.874508,1.556507,6.129890e+04
min,-54.804475,-122.419415,5.000000e+03,5.196252e+04,3.032980e+03,10.00000,6.000000,0.077726,1.171170,1.000000,1.000000,1.000000e+00
25%,-34.650818,-58.569372,1.100000e+05,1.623803e+06,9.450000e+04,58.00000,50.000000,700.000000,1342.857143,2.000000,2.000000,5.000000e+02
50%,-34.600292,-58.479454,1.900000e+05,2.763920e+06,1.600000e+05,127.00000,96.000000,1348.837209,1823.529412,3.000000,3.000000,1.000000e+03
75%,-34.506821,-58.399285,3.800000e+05,5.127072e+06,2.970000e+05,356.00000,200.000000,2000.000000,2558.139535,6.000000,4.000000,2.100000e+03
max,52.619706,5.011710,3.500000e+07,6.046075e+08,3.500000e+07,199999.00000,200000.000000,437500.000000,777777.777778,1201.000000,20.000000,2.300000e+06

In [13]:
props_2015_filtered.to_csv('props_2015_train.csv',index=False)

In [12]:
props_2014_01 = pd.read_csv('/../../../Data/2014/properati-AR-2014-01-01-properties-sell.csv')
props_2014_02 = pd.read_csv('/../../../Data/2014/properati-AR-2014-02-01-properties-sell.csv')
props_2014_03 = pd.read_csv('/../../../Data/2014/properati-AR-2014-03-01-properties-sell.csv')
props_2014_04 = pd.read_csv('/../../../Data/2014/properati-AR-2014-04-01-properties-sell.csv')
props_2014_05 = pd.read_csv('/../../../Data/2014/properati-AR-2014-05-01-properties-sell.csv')
props_2014_06 = pd.read_csv('/../../../Data/2014/properati-AR-2014-06-01-properties-sell.csv')
props_2014_07 = pd.read_csv('/../../../Data/2014/properati-AR-2014-07-01-properties-sell.csv')
props_2014_08 = pd.read_csv('/../../../Data/2014/properati-AR-2014-08-01-properties-sell.csv')
props_2014_09 = pd.read_csv('/../../../Data/2014/properati-AR-2014-09-01-properties-sell.csv')
props_2014_10 = pd.read_csv('/../../../Data/2014/properati-AR-2014-10-01-properties-sell.csv')
props_2014_11 = pd.read_csv('/../../../Data/2014/properati-AR-2014-11-01-properties-sell.csv')
props_2014_12 = pd.read_csv('/../../../Data/2014/properati-AR-2014-12-01-properties-sell.csv')
props_2014 = pd.concat([props_2014_01,props_2014_02,props_2014_03,props_2014_04,props_2014_05,props_2014_06,props_2014_07,props_2014_08,props_2014_09,props_2014_10,props_2014_11,props_2014_12])
props_2014.drop_duplicates()
props_2014.drop(['operation','place_with_parent_names','created_on','geonames_id','lat-lon','operation','image_thumbnail','properati_url'], axis = 1, inplace = True)

In [14]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2014_filtered = props_2014.loc[(props_2014['price'].notnull()) & (props_2014['price_aprox_usd'].notnull()) & \
               (props_2014['price_aprox_local_currency'].notnull()) & (props_2014['surface_in_m2'].notnull())]

props_2014_filtered = props_2014_filtered.loc[(props_2014_filtered['price'] > 0) \
        & (props_2014_filtered['price_aprox_local_currency'] > 0 ) \
        & (props_2014_filtered['price_aprox_usd'] > 0) \
        & (props_2014_filtered['surface_in_m2'] > 5)]

props_2014_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_in_m2,price_usd_per_m2,floor,rooms
count,374077.000000,374069.000000,4.500260e+05,4.500260e+05,4.500260e+05,450026.000000,450026.000000,80624.000000,336855.000000
mean,-34.568854,-58.821537,3.082301e+05,1.468474e+06,1.874081e+05,164.036607,1853.218439,11.720207,2.504359
std,4.005416,3.688435,4.914784e+05,2.175987e+06,2.724701e+05,352.738713,1940.873115,91.732661,1.280234
min,-88.003165,-165.937500,1.000000e+00,9.700000e-01,1.200000e-01,10.000000,0.000141,0.000000,0.000000
25%,-34.643600,-58.576713,8.990000e+04,6.372640e+05,8.100000e+04,47.000000,1124.550000,1.000000,2.000000
50%,-34.597840,-58.469198,1.500000e+05,9.499999e+05,1.200000e+05,75.000000,1696.226415,3.000000,2.000000
75%,-34.547670,-58.403444,3.500000e+05,1.596380e+06,2.050000e+05,160.000000,2247.191011,7.000000,3.000000
max,50.451911,174.375000,8.762122e+07,1.177747e+08,1.380000e+07,10000.000000,260673.162143,5055.000000,39.000000

In [15]:
props_2014_filtered.to_csv('props_2014_train.csv',index=False)

In [16]:
props_2013_08 = pd.read_csv('/../../../Data/2013/properati-AR-2013-08-01-properties-sell.csv')
props_2013_09 = pd.read_csv('/../../../Data/2013/properati-AR-2013-09-01-properties-sell.csv')
props_2013_10 = pd.read_csv('/../../../Data/2013/properati-AR-2013-10-01-properties-sell.csv')
props_2013_11 = pd.read_csv('/../../../Data/2013/properati-AR-2013-11-01-properties-sell.csv')
props_2013_12 = pd.read_csv('/../../../Data/2013/properati-AR-2013-12-01-properties-sell.csv')
props_2013 = pd.concat([props_2013_08,props_2013_09, props_2013_10, props_2013_11, props_2013_12])
props_2013.drop(['operation','place_with_parent_names','created_on','geonames_id','lat-lon','operation','image_thumbnail','properati_url'], axis = 1, inplace = True)

In [17]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2013_filtered = props_2013.loc[(props_2013['price'].notnull()) & (props_2013['price_aprox_usd'].notnull()) & \
               (props_2013['price_aprox_local_currency'].notnull()) & (props_2013['surface_in_m2'].notnull())]

props_2013_filtered = props_2013_filtered.loc[(props_2013_filtered['price'] > 0) \
        & (props_2013_filtered['price_aprox_local_currency'] > 0 ) \
        & (props_2013_filtered['price_aprox_usd'] > 0) \
        & (props_2013_filtered['surface_in_m2'] > 5)]

props_2013_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_in_m2,price_usd_per_m2,floor,rooms
count,180979.000000,180976.000000,1.944310e+05,1.944310e+05,1.944310e+05,194431.000000,194431.000000,40762.000000,163120.000000
mean,-34.387772,-58.951254,3.333169e+05,1.171361e+06,2.072874e+05,132.276689,2405.504665,16.987881,2.390878
std,4.515557,4.174511,7.677893e+05,1.667801e+06,2.974368e+05,264.414646,3550.014088,113.155789,1.242731
min,-88.003165,-165.937500,5.000000e+03,2.673996e+04,5.000000e+03,20.000000,7.960000,0.000000,0.000000
25%,-34.639663,-58.593057,9.500000e+04,4.973634e+05,8.800000e+04,46.000000,1250.000000,2.000000,1.000000
50%,-34.592316,-58.479048,1.700000e+05,7.485676e+05,1.308902e+05,70.000000,1850.746269,4.000000,2.000000
75%,-34.527867,-58.408673,4.300000e+05,1.299207e+06,2.300000e+05,140.000000,2554.054054,7.000000,3.000000
max,89.169552,174.375000,1.484420e+08,1.755238e+08,3.000000e+07,9767.000000,305211.459250,5055.000000,39.000000

In [18]:
props_2013_filtered.to_csv('props_2013_train.csv',index=False)

In [19]:
props = pd.concat([props_2017_filtered ,props_2016_filtered,props_2015_filtered,props_2014_filtered,props_2013_filtered])
props.describe()

,floor,lat,lon,price,price_aprox_local_currency,price_aprox_usd,price_per_m2,price_usd_per_m2,rooms,surface_covered_in_m2,surface_in_m2,surface_total_in_m2
count,160150.000000,805531.000000,805520.000000,9.900420e+05,9.900420e+05,9.900420e+05,3.455850e+05,9.900420e+05,686877.000000,345585.000000,644457.000000,345585.000000
mean,11.327449,-34.604543,-58.850869,3.401493e+05,2.336115e+06,2.135256e+05,4.357332e+03,1.932518e+03,2.634052,139.426199,154.454722,287.196912
std,86.974475,3.682505,3.403126,7.042747e+05,4.268273e+06,3.214745e+05,1.031864e+04,4.122355e+03,1.374547,906.274868,328.924916,1711.411505
min,0.000000,-88.003165,-165.937500,1.000000e+00,9.700000e-01,1.200000e-01,1.171170e+00,1.411765e-04,0.000000,6.000000,10.000000,10.000000
25%,2.000000,-34.644722,-58.585757,9.500000e+04,7.142915e+05,8.510000e+04,1.437500e+03,1.083243e+03,2.000000,48.000000,47.000000,55.000000
50%,3.000000,-34.597589,-58.473692,1.650000e+05,1.275450e+06,1.340000e+05,1.974359e+03,1.682927e+03,2.000000,85.000000,73.000000,103.000000
75%,7.000000,-34.534781,-58.402598,3.700000e+05,2.523023e+06,2.400000e+05,2.836735e+03,2.285714e+03,3.000000,175.000000,150.000000,260.000000
max,5055.000000,89.169552,174.375000,1.484420e+08,7.984250e+08,5.000000e+07,1.016822e+06,1.271027e+06,39.000000,200000.000000,10000.000000,200000.000000

In [22]:
props.dtypes

currency                       object
expenses                       object
floor                         float64
lat                           float64
lon                           float64
place_name                     object
price                         float64
price_aprox_local_currency    float64
price_aprox_usd               float64
price_per_m2                  float64
price_usd_per_m2              float64
property_type                  object
rooms                         float64
state_name                     object
surface_covered_in_m2         float64
surface_in_m2                 float64
surface_total_in_m2           float64
dtype: object

In [43]:
props['expenses'] = pd.to_numeric(props['expenses'],errors="coerce")
props.dtypes

currency                       object
expenses                      float64
floor                         float64
lat                           float64
lon                           float64
place_name                     object
price                         float64
price_aprox_local_currency    float64
price_aprox_usd               float64
price_per_m2                  float64
price_usd_per_m2              float64
property_type                  object
rooms                         float64
state_name                     object
surface_covered_in_m2         float64
surface_in_m2                 float64
surface_total_in_m2           float64
dtype: object

In [44]:
props.to_csv('props_train.csv',index=False)