In [1]:
import pandas as pd

In [9]:
props_2017 = pd.read_csv('/../../../Data/properati-AR-2017-08-01-properties-sell-six_months.csv')
props_2017[['created_on']] = pd.to_datetime(props_2017['created_on'],format='%Y-%m-%d')
props_2017.head()

,id,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,ad916bad59cdaf3c24c2d594547aa6067c4d6289,2017-02-01,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,0de2ae882e1708c2941a672402f772ec83a92827,2017-02-01,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,61cb773b63b911ad2ea5c823187d7ba1c7f3cadf,2017-02-01,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,5f9403a3bac230379afec9a2601bd6e3db3bc0b9,2017-02-01,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,130ed5140d7492ae631465d2b038668bd7b8436b,2017-02-01,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

In [10]:
props_2017.drop(['id','operation','place_with_parent_names','created_on','lat-lon','country_name','geonames_id','title','operation','image_thumbnail','properati_url','description'], axis = 1, inplace = True)

In [11]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2017_filtered = props_2017.loc[(props_2017['price'].notnull()) & (props_2017['price_aprox_usd'].notnull()) & \
               (props_2017['price_aprox_local_currency'].notnull()) & (props_2017['surface_total_in_m2'].notnull()) & (props_2017['surface_covered_in_m2'].notnull())]
props_2017_filtered.head()

,property_type,place_name,state_name,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
0,PH,Mataderos,Capital Federal,-34.661824,-58.508839,62000.0,USD,1093959.0,62000.0,55.0,40.0,1127.272727,1550.000000,NaN,NaN,NaN
2,apartment,Mataderos,Capital Federal,-34.652262,-58.522982,72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,1309.090909,NaN,NaN,NaN
4,apartment,Centro,Buenos Aires Costa Atlántica,-38.002626,-57.549447,64000.0,USD,1129248.0,64000.0,35.0,35.0,1828.571429,1828.571429,NaN,NaN,NaN
6,PH,Munro,Bs.As. G.B.A. Zona Norte,-34.532957,-58.521782,130000.0,USD,2293785.0,130000.0,106.0,78.0,1226.415094,1666.666667,NaN,NaN,NaN
7,apartment,Belgrano,Capital Federal,-34.559873,-58.443362,138000.0,USD,2434941.0,138000.0,45.0,40.0,3066.666667,3450.000000,NaN,NaN,NaN

In [5]:
#Rows que tengan valores de precios erroneos
props_2017_filtered.describe()

,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,37038.000000,37038.000000,6.335200e+04,6.335200e+04,6.335200e+04,63352.000000,63352.000000,63352.000000,63350.000000,3036.000000,23649.000000,1.026700e+04
mean,-34.794293,-58.842358,4.756680e+05,4.476312e+06,2.536945e+05,222.137407,125.372459,2192.256559,6600.021086,4.284256,2.845575,5.435292e+03
std,1.610118,1.710611,9.527492e+05,6.049545e+06,3.428573e+05,1632.119243,414.838725,2846.313452,14963.204063,4.711012,1.463615,1.407622e+05
min,-54.806598,-71.663515,5.500000e+03,8.234017e+04,4.666620e+03,10.000000,0.000000,0.600000,1.510204,1.000000,1.000000,1.000000e+00
25%,-34.641625,-58.631830,1.150000e+05,1.676228e+06,9.500000e+04,50.000000,45.000000,1225.775072,1606.557377,2.000000,2.000000,1.000000e+03
50%,-34.597602,-58.460108,1.950000e+05,2.734898e+06,1.550000e+05,84.000000,71.000000,1818.181818,2306.666667,3.000000,3.000000,2.000000e+03
75%,-34.525733,-58.396020,4.300000e+05,5.116905e+06,2.900000e+05,200.000000,150.000000,2500.000000,3420.173913,6.000000,4.000000,4.000000e+03
max,-24.166966,-54.556127,5.000000e+07,2.117340e+08,1.200000e+07,200000.000000,49000.000000,206333.333333,692046.000000,133.000000,32.000000,1.000150e+07

In [12]:
#Genero el csv filtrado
props_2017_filtered.to_csv('props_2017_test.csv',sep=';',index=False)

In [16]:
props_2016_01 = pd.read_csv('/../../../Data/2016/properati-AR-2016-01-01-properties-sell.csv')
props_2016_02 = pd.read_csv('/../../../Data/2016/properati-AR-2016-02-01-properties-sell.csv')
props_2016_03 = pd.read_csv('/../../../Data/2016/properati-AR-2016-03-01-properties-sell.csv')
props_2016_04 = pd.read_csv('/../../../Data/2016/properati-AR-2016-04-01-properties-sell.csv')
props_2016_05 = pd.read_csv('/../../../Data/2016/properati-AR-2016-05-01-properties-sell.csv')
props_2016_06 = pd.read_csv('/../../../Data/2016/properati-AR-2016-06-01-properties-sell.csv')
props_2016_07 = pd.read_csv('/../../../Data/2016/properati-AR-2016-07-01-properties-sell.csv')
props_2016_08 = pd.read_csv('/../../../Data/2016/properati-AR-2016-08-01-properties-sell.csv')
props_2016_09 = pd.read_csv('/../../../Data/2016/properati-AR-2016-09-01-properties-sell.csv')
props_2016_10 = pd.read_csv('/../../../Data/2016/properati-AR-2016-10-01-properties-sell.csv')
props_2016_11 = pd.read_csv('/../../../Data/2016/properati-AR-2016-11-01-properties-sell.csv')
props_2016_12 = pd.read_csv('/../../../Data/2016/properati-AR-2016-12-01-properties-sell.csv')
props_2016 = pd.concat([props_2016_01,props_2016_02,props_2016_03,props_2016_04,props_2016_05,props_2016_06,props_2016_07,props_2016_08,props_2016_09,props_2016_10,props_2016_11,props_2016_12])
props_2016.head()

,id,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,6c0506bbb9df96cbf7b5b2f64fc594ddfe7b1235,2015-07-01,sell,house,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.011817,-57.5470291",...,210.0,NaN,1261.904762,NaN,5.0,NaN,http://www.properati.com.ar/rlor_venta_casa_ma...,"Lote 11, 25 x 26, Living Comedor en L 8,50x4,5...",CHAUVIN CHALET 4 DORMITORIOS C/ DEPENDENCIA,https://thumbs4.properati.com/0/j7bizx1makQIMP...
1,d758dcbe4f031408b5aa2890172359a410f43b47,2015-07-01,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234.0,"-34.5745944268,-58.4192548517",...,29.0,2448.275862,2448.275862,NaN,1.0,1500.0,http://www.properati.com.ar/rlpn_venta_departa...,VENTA DEPARTAMENTO DE 1 AMBIENTE CON PATIO EN ...,Departamento en Palermo,https://thumbs4.properati.com/7/pc6PYWBGhUnn6u...
2,6fd3eeea15a5ce3baee2f45674949145610915bb,2015-07-01,sell,house,Lanús,|Argentina|Bs.As. G.B.A. Zona Sur|Lanús|Lanús|,Argentina,Bs.As. G.B.A. Zona Sur,NaN,NaN,...,185.0,NaN,756.756757,NaN,NaN,NaN,http://www.properati.com.ar/rlq6_venta_casa_lanus,None- Estado del inmueble: EXCELENTE- Mejoras:...,.,NaN
3,5bc097e3828edf6d418c182dc229d60e497d0ce8,2015-07-01,sell,house,Temperley,|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...,Argentina,Bs.As. G.B.A. Zona Sur,3427776.0,"-34.7890466,-58.4135609",...,200.0,NaN,825.000000,NaN,NaN,NaN,http://www.properati.com.ar/rlq7_venta_casa_te...,"Muy buen Chalet, a 2 cuadras e Hipermeracado J...",Casa en Temperley Oeste,https://thumbs4.properati.com/2/4Gkhh9RmHVLM6_...
4,6fc22ab45c641532594ef8fecd145117ab1c6cbf,2015-07-01,sell,house,Lomas de Zamora,|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...,Argentina,Bs.As. G.B.A. Zona Sur,NaN,"-34.7507803881,-58.3734663672",...,248.0,NaN,596.774194,NaN,NaN,NaN,http://www.properati.com.ar/rlq9_venta_casa_lo...,None- Estado del inmueble: REGULAR- Tiene gara...,Casa en Lomas de Zamora Oeste,https://thumbs4.properati.com/3/GirmoJ_563ED0N...

In [17]:
props_2016.drop(['id','operation','place_with_parent_names','lat','lon','created_on','country_name','geonames_id','lat-lon','title','operation','image_thumbnail','properati_url','description'], axis = 1, inplace = True)

In [18]:
#Rows que no tengan ni price, ni price_aprox_usd, price_aprox_local_currency , ni surface_total_in_m2, ni surface_covered_in_m2
props_2016_filtered = props_2016.loc[(props_2016['price'].notnull()) & (props_2016['price_aprox_usd'].notnull()) & \
               (props_2016['price_aprox_local_currency'].notnull()) & (props_2016['surface_total_in_m2'].notnull()) & (props_2016['surface_covered_in_m2'].notnull())]
props_2016_filtered.head()

,property_type,place_name,state_name,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
1,apartment,Palermo,Capital Federal,71000.0,USD,1133763.5,71000.0,29.0,29.0,2448.275862,2448.275862,NaN,1.0,1500.0
2,house,Lanús,Bs.As. G.B.A. Zona Sur,140000.0,USD,2235590.0,140000.0,0.0,185.0,NaN,756.756757,NaN,NaN,NaN
3,house,Temperley,Bs.As. G.B.A. Zona Sur,165000.0,USD,2634802.5,165000.0,0.0,200.0,NaN,825.000000,NaN,NaN,NaN
4,house,Lomas de Zamora,Bs.As. G.B.A. Zona Sur,148000.0,USD,2363338.0,148000.0,0.0,248.0,NaN,596.774194,NaN,NaN,NaN
5,apartment,Temperley,Bs.As. G.B.A. Zona Sur,132000.0,USD,2107842.0,132000.0,112.0,112.0,1178.571429,1178.571429,NaN,NaN,270.0

In [19]:
#Genero el csv filtrado
props_2016_filtered.to_csv('props_2016_train.csv',sep=';')