In [1]:
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [52]:
props_2017 = pd.read_csv('props_2017_test.csv', sep=";")
props_2017_filtered = props_2017.loc[:, (props_2017.columns != "price_aprox_usd") & (props_2017.columns != "currency") &  (props_2017.columns != "property_type") & (props_2017.columns != "place_name") & (props_2017.columns != "state_name") ]
props_2017_filtered.fillna(value = 0 , inplace="True")
props_2017.head()

,property_type,place_name,state_name,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
0,PH,Mataderos,Capital Federal,-34.661824,-58.508839,62000.0,USD,1093959.0,62000.0,55.0,40.0,1127.272727,1550.000000,NaN,NaN,NaN
1,apartment,Mataderos,Capital Federal,-34.652262,-58.522982,72000.0,USD,1270404.0,72000.0,55.0,55.0,1309.090909,1309.090909,NaN,NaN,NaN
2,apartment,Centro,Buenos Aires Costa Atlántica,-38.002626,-57.549447,64000.0,USD,1129248.0,64000.0,35.0,35.0,1828.571429,1828.571429,NaN,NaN,NaN
3,PH,Munro,Bs.As. G.B.A. Zona Norte,-34.532957,-58.521782,130000.0,USD,2293785.0,130000.0,106.0,78.0,1226.415094,1666.666667,NaN,NaN,NaN
4,apartment,Belgrano,Capital Federal,-34.559873,-58.443362,138000.0,USD,2434941.0,138000.0,45.0,40.0,3066.666667,3450.000000,NaN,NaN,NaN

In [48]:
X = props_2017_filtered
y = props_2017["price_aprox_usd"]

In [49]:
lm = linear_model.LinearRegression()
model = lm.fit(X,y)

In [50]:
predictions = lm.predict(X)
print(predictions)[0:5]

[  62000.00003212   72000.00003139   63999.99999787  130000.00003062
  138000.00003618]

In [51]:
lm.score(X,y)

1.0